a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

input,
select,
textarea {
    border: none;
    outline: none;
    background: none;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

body {
    background: #FEF5E4;
}

.title {
    font-family: Roboto;
}

.text {
    font-family: Inter;
}

/* general */
.navbar {
    padding: 32px 0;
}

.navbar .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.navbar .menu a:nth-child(5) {
    padding: 16px 22px;
    border-radius: 4px;
    border: 2px solid #6140FF;
    background: #6140FF;
}

.navbar .menu a li {
    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}


/* hero */
.hero .row {
    justify-content: space-between;
}

.hero .row .text-part {
    width: 380px;
    padding-top: 25px;
}

.hero .row .title {
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
}

.hero .row .text {
    width: 407px;
    font-size: 11px;
    font-weight: 400;
    line-height: 32px;
    margin: 30px 0 18px;
}

.hero .row .btn {
    padding: 20px 30px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.hero .row .hero-img {}

.hero .row .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* brands */
.brands .brand-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.brands .brand-icons .img-icon {
    margin: 120px 40px;
    gap: 40px;
}

/* record */

.record .info {
    display: flex;
    justify-content: space-between;
}

.record .info .left {
    width: 544px;
    height: 408px;
}

.record .info .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.record .info .right {
    width: 416px;
    height: 408px;
}

.record .info .right .title {
    font-weight: 400;
    font-size: 38px;
    color: #100B2B;
}

.text {
    font-size: 11px;
    font-weight: 400;
    color: #655B6E;
    line-height: 32px;
    margin: 27px 0 9px;
}

.record .info .right .text-menu {
    color: rgba(0, 0, 0, 0.64);
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 12px;
}


.google-btn {
    margin-top: 5px;
    padding: 16px 22px;
    border-radius: 4px;
    border: 2px solid #6140FF;
    background: #6140FF;
    color: #FFF8EE;
    font-family: Roboto;

}

.google-btn img {
    margin-right: 8px;

}

.google-btn:hover {
    background-color: #110746;
    border: 2px solid #110746;
    transition: 0.7s;
}

/* left */

.info-hold {
    margin: 120px auto;
}

.info-hold .parrent {
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #100B2B;
    border-radius: 16px;
}

.info-hold .parrent .title {
    width: 595px;
    color: #FEF5E4;
    font-size: 30px;
    font-weight: 400;
}

.info-hold .parrent .text {
    color: #655B6E;
    font-size: 17px;
    font-weight: 400;
    margin: 18px 0;
}


/* right */
.info-hold .parrent .right-hold .hold-image {}


/* engage */
.engage .mid-text .text-part {
    margin-bottom: 71px;
}

.engage .text-part .title {
    color: #100B2B;
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    line-height: 44px;
    margin-bottom: 21px;
}

.engage .text-part .text {
    color: #655B6E;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.engage .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.engage .wrapper .right {
    padding-top: 30px;
}

.engage .wrapper .right .arrow-title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.engage .wrapper .right .title {
    font-size: 22px;
    font-weight: 400;
    color: #100B2B;
    gap: 5px;
}

.engage .wrapper .right .arrow-title i {
    padding: 14px 0 14px 5px;
    width: 32px;
    height: 32px;
}

.engage .wrapper .right .text {
    font-size: 13px;
    font-weight: 400;
    margin: 35px 0 58px;
}

.engage .wrapper .right .first-line {
    content: '';
    width: 384px;
    height: 8px;
    border-radius: 10px;
    border: 4px solid #6140FF;
    margin-bottom: 39px;
    background-color: #6140FF;
}

.engage .wrapper .right .second-line {
    content: '';
    width: 384px;
    height: 8px;
    border-radius: 10px;
    border: 4px solid #100b2b1a;
    margin: 30px 0 39px;
    background-color: #100b2b1a;
}

.engage .wrapper .right .third-line {
    content: '';
    width: 384px;
    height: 8px;
    border-radius: 10px;
    border: 4px solid #100b2b1a;
    margin: 30px 0 39px;
    background-color: #100b2b1a;
}

.engage .wrapper .left {
    width: 544px;
    height: 408px;
}

.engage .wrapper .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* customers */
.customers {
    padding: 88px 0;
}

.customers .text-part {
    text-align: center;
}

.customers .text-part .title {
    font-size: 38px;
    font-weight: 400;
    color: #100B2B;
}

.customers .text-part .text {
    color: #655B6E;
    font-size: 17px;
    font-weight: 400;
}

/* first */
.customers .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}

.customers .wrapper .first-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customers .left-cust .title {
    color: #100B2B;
    font-size: 32px;
    font-weight: 400;
}

.customers .left-cust .text {
    color: #655B6E;
    font-size: 17px;
    font-weight: 400;
    width: 450px;
}

/* second */
.customers .wrapper .second-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customers .wrapper .right-show .title {
    font-size: 38px;
    font-weight: 400;
    color: #100B2B;
}

.customers .wrapper .right-show .text {
    color: #655B6E;
    font-size: 17px;
    font-weight: 400;
    width: 485px;
}

/* tird */
.customers .wrapper .third-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customers .wrapper .left-human .title {
    font-size: 38px;
    font-weight: 400;
    color: #100B2B;
}

.customers .wrapper .left-human .text {
    color: #655B6E;
    font-size: 17px;
    font-weight: 400;
    width: 485px;
}