a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

input,
select,
textarea {
    border: none;
    outline: none;
    background: none;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
body{
    background: #FEF5E4;
}

.title{
    font-family: Roboto;
}

.text{
    font-family: Inter;
}
/* general */
.navbar {
    padding: 32px 0;
}

.navbar .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.navbar .menu a:nth-child(5) {
    padding: 16px 22px;
    border-radius: 4px;
    border: 2px solid #6140FF;
    background: #6140FF;
}

.navbar .menu a li {
    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    
}




.hero .row {
    justify-content: space-between;
}

.hero .row .text-part {
    width: 448px;
    padding-top: 25px;
}

.hero .row .title {
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
}

.hero .row .text {
    width: 407px;
    font-size: 11px;
    font-weight: 400;
    line-height: 32px;
    margin: 30px 0 18px;
}

.hero .row .btn {
    padding: 20px 30px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.hero .row .hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}



/* brands */
.brands .brand-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.brands .brand-icons .img-icon {
    margin: 120px 40px;
    gap: 40px;
}

/* record */

.record .info {
    display: flex;
    justify-content: space-between;
}

.record .info .left{
    width: 544px;
    height: 408px;
}

.record .info .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.record .info .right{
  width: 416px;
  height: 408px;    
}

.record .info .right .title {
    font-weight: 400;
    font-size: 38px;
    color: #100B2B;
}

.text{
    font-size: 11px;
    font-weight: 400;
    color: #655B6E;
    line-height: 32px;
    margin: 27px 0 9px;
}

.record .info .right .text-menu {
    color: rgba(0, 0, 0, 0.64);
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 12px;
}


.google-btn{
    margin-top: 5px;
    padding: 16px 22px;
    border-radius: 4px;
    border: 2px solid #6140FF;
    background: #6140FF;
    color: #FFF8EE;
    font-family: Roboto;
    
}
.google-btn img{
    margin-right: 8px;
    
}
.google-btn:hover{
background-color: #110746;
border: 2px solid #110746;
transition: 0.7s;
}