/* 1200 */
@media(max-width:1200px) {

    /* brands */
    .brands .brand-icons {
        gap: 80px;
    }

    /* record */
    .record .info .left img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


    .record .info .right .title {
        font-size: 36px;
    }

    .record .info .right .text {
        width: 370px;
        font-size: 11px;
        line-height: 32px;
        margin: 12px 0 9px;
    }

    .record .info .right .text-menu {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .google-btn {
        margin-top: 5px;
        padding: 13px 14px;
    }
}

/* 992 */
@media(max-width:992px) {

    /* navbar */
    .navbar .container {
        padding: 13px 0;
    }

    .navbar .menu {
        display: flex;
        gap: 22px;
        align-items: center;
    }

    .navbar .menu a li {
        font-size: 15px;
        line-height: 18px;
    }

    .navbar .menu a:nth-child(5) {
        padding: 12px 14px;
    }

    /* hero */
    .hero .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hero .row .title {
        width: 310px;
        font-size: 42px;
        font-weight: 400;
        line-height: 46px;
    }

    .hero .row .text {
        width: 270px;
        font-size: 11px;
        font-weight: 400;
        line-height: 24px;
        margin: 14px 0 12px;
    }

    .hero .row .btn {
        padding: 15px 18px;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    /* brands */
    .brands .brand-icons {
        gap: 0;
        justify-content: space-evenly;
    }

    /* record */
    .record .row {
        justify-content: space-between;
    }

    .record .row .right {
        padding: 28px 0 3px;
    }

    .record .info .right .title {
        font-size: 30px;

    }

    .record .info .right .text-menu {
        font-size: 16px;
    }

    .record .info .right .text {
        line-height: 22px;
        width: 300px;
        margin: 20px 0 9px;
    }

    .google-btn {
        margin-top: 5px;
        padding: 8px 6px;
    }

    /* info-hold */
    .info-hold .parrent .row .left-hold {
        padding: 40px 0;
    }

    /* percentage */
    .percentage .wrapper .part .title {
        font-size: 35px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 8px;
    }

    .percentage .wrapper .part .text {
        font-size: 13px;
        font-weight: 400;
        line-height: 25px;
    }

    .percentage .wrapper .part .text {
        font-size: 13px;
        font-weight: 400;
        line-height: 28px;
    }

    .percentage .wrapper .part {
        margin: 35px 0;
    }

    /* customers */
    .customers .left-cust .text {
        max-width: 450px;
    }

    .customers .wrapper .right-show .text {
        max-width: 485px;
    }

    .customers .wrapper .left-human .text {
        max-width: 485px;
    }

    /* footer */

    .footer .right-content {
        display: flex;
        justify-content: space-between;
    }

    .footer .left-content .text-footer {
        max-width: 285px;
    }
}

/* 770 */
@media(max-width:770px) {

    /* navbar */
    .navbar .menu {
        display: none;
    }

    .navbar .container {
        padding: 13px 10px;
    }

    .navbar .burger {
        display: block;
    }

    .navbar .mobile-menu {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(2, 3, 82);
        transform: translateX(100%);
        flex-direction: column;
        padding: 65px 20px;
        text-align: center;
        justify-content: space-evenly;
        transition: 0.7s;

    }

    .navbar .mobile-menu .menu-back {
        position: absolute;
        top: 25px;
        right: 25px;
        color: #fff;
    }

    .navbar .mobile-menu.active {
        transform: translateX(0);
    }

    .navbar .mobile-menu a {
        color: beige;
        font-size: 20px;
        font-weight: 600;

    }

    /* hero */
    .hero .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero .row .hero-img {
        width: 516px;
        height: 387px;
    }

    .hero .row .hero-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero .row .text-part {
        text-align: center;
        width: 100%;
    }

    .hero .row .title {
        width: 395px;
        margin: 0 auto;
        font-size: 42px;
        font-weight: 400;
        line-height: 44px;
        text-align: center;
    }

    .hero .row .btn {
        width: 100%;
    }

    .hero .row .text {
        width: 100%;
        font-size: 11px;
        font-weight: 400;
        line-height: 32px;
        margin: 16px 0 14px;
    }

    /* brands */
    .brands .brand-icons {
        flex-wrap: wrap;
        gap: 75px;
    }

    /* record */
    .record .row .right {
        text-align: center;
        margin-top: 20px;
    }

    .record .row .right .text {
        margin: 20px auto 10px;
    }

    .google-btn {
        margin-top: 10px;
    }

    /* info-hold */
    .info-hold .parrent .row .left-hold {
        text-align: center;
    }

    /* customers */
    .customers .wrapper {
        text-align: center;
    }

    .customers .wrapper .second-part {
        display: flex;
        flex-direction: column-reverse !important;
        text-align: center;
        margin: 40px 0;
    }
}

/* future */

.future .desc .title {
    font-size: 33px;
}

.future .desc .btn {
    font-size: 17px;
}

.future .desc .text {
    font-size: 16px;
}


/* 576 */
@media (max-width: 576px) {

    /* hero */
    .hero .title {
        font-size: 36px;
        line-height: 40px;
    }

    .hero .text {
        font-size: 14px;
        line-height: 24px;
    }

    .hero .btn {
        font-size: 16px;
        line-height: 20px;
    }

    .hero .row .hero-img {
        width: 90%;
    }

    .hero .row .hero-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /* records */
    .record .row {
        justify-content: center;
    }

    .record .row .left {
        width: 90%;
    }

    .record .row .right .title {
        font-size: 26px;
        width: 380px;
        margin: 0 auto;
    }

    /* customers */
    .customers .wrapper .second-part {
        margin: 50px 0;
    }

    /* future */
    .future .desc .title {
        font-size: 30px;
    }

    .future .desc .btn {
        font-size: 17px;
    }

    .future .desc .text {
        font-size: 16px;
    }
}

/* 430 */
@media (max-width: 430px) {

    /* hero */
    .hero .row {
        flex-direction: column-reverse;
    }

    .hero .row .text-part {
        padding-top: 0;

    }

    .hero .row .title {
        width: 330px;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;

    }

    .hero .row .text {
        font-size: 11px;
        font-weight: 400;
        line-height: 22px;
        margin: 12px 0 10px;
    }

    .hero .row .hero-img {
        width: 85%;
        margin: 0 auto;
    }

    /* barnds */
    .brands .brand-icons .each-brand {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* record */
    .record .row .right .title {
        font-size: 24px;
        width: 90%;
    }

    /* info-hold */
    .info-hold .parrent .row {
        padding: 50px 0;
    }

    /* future */

    .future .desc .title {
        font-size: 28px;
    }

    .future .desc .btn {
        font-size: 15px;
    }

    .future .desc .text {
        font-size: 14px;
    }

    .future .desc::before {
        background: none;
    }

    .future .desc .btn {
        padding: 15px 22px;
        max-width: 200px;
    }
}

/* 325 */
@media (max-width: 325px) {
    .hero .row .title {
        width: 280px;
        font-size: 30px;
        font-weight: 400;
        line-height: 34px;
    }

    .hero .row .text {
        line-height: 20px;
    }

    /* future */
    .future .desc .title {
        font-size: 28px;
    }

    .future .desc .btn {
        font-size: 15px;
    }

    .future .desc .text {
        font-size: 14px;
    }

    .future .desc::before {
        background: none;
    }

    .future .desc .btn {
        padding: 15px 22px;
        max-width: 200px;
        margin: 30px 17px;
    }
}