

/* .hero .row .text-part {
    width: 380px;
}

.hero .row .text {
    width: 407px;
}

.hero .row .btn {
    padding: 20px 30px;
} */

/* 992 */

/* @media(max-width:992px){
    .hero .row  {
       flex-direction: row; 
    }
}


@media (max-width: 768px) {
    .hero .row {
        flex-direction: column;
    }

    .hero .row .text-part {
        width: 100%; 
    }

    .hero .row .text {
        width: 100%; 
    }

    .hero .row .btn {
        width: 100%;
    }
} */

/* 576 */
/* @media (max-width: 576px) {
    .hero .title {
        font-size: 36px;
        line-height: 40px;
    }

    .hero .text {
        font-size: 14px;
        line-height: 24px;
    }

    .hero .btn {
        font-size: 16px;
        line-height: 20px;
    }
} */
